/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;500;600;700&display=swap');
@import "tailwindcss";


@theme {
  /* --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-display: 'Outfit', sans-serif; */

  --font-sans: 'Inter', sans-serif;
  --font-display: 'Sora', sans-serif;

  --color-brand-purple: #8b5cf6;
  --color-brand-indigo: #6366f1;
  --color-brand-pink: #ec4899;

  --color-dark-bg: #030014;
  --color-dark-card: #0a0524;
}

/* Custom global styles */
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-dark-bg);
    color: #f4f4f5;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

/* Glassmorphism scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 92, 246, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 92, 246, 0.6);
}

@layer components {
  .btn-main {
    @apply bg-gradient-to-r from-[#1CD8D2] via-[#00bf8f] to-[#302b63]
  }
}